# python3 -m pip install -r docker/requirements.txt
requests==2.32.4
asyncio==3.4.3
python-dateutil==2.8.2
pytest==8.0.1
pytest-asyncio==0.23.5
pre-commit==3.8.0
black==24.8.0
pylint==3.3.3
autoflake==2.3.1
isort==5.13.2
pyyaml_env_tag==1.1
demjson3==3.0.6
ruff==0.11.11
watchdog==6.0.0
fastapi==0.115.6
uvicorn[standard]==0.34.0
aiosqlite==0.20.0
jinja2==3.1.5
python-multipart==0.0.20
